
<p> Outputs </p>
<%= @serviceoutputs%>
<p> Output Faults </p>
<%= @serviceoutputsvaults %>

<p> Inputs </p>
<%= @serviceinputs %>
<p> Input Faults: </p>
<%= @serviceinputsvaults%>


<%= @servicefaults %>