= content_for :head_include do
  = stylesheet_link_tag  "monitorings", :media => "all"
  = stylesheet_link_tag  "dynatree/ui.dynatree", :media => "all"
  = stylesheet_link_tag "star-rating/jquery.rating.css", :media => "all"
  = javascript_include_tag "monitorings" 


%div.container-fluid
  %div.row-fluid
  %div.span12
    .div{:id => "error"}
    -if !@errormon.nil?
      .alert.alert-block.alert-error
        %a.close{"data-dismiss" => "alert", "href" => "#" }
        = @errormon
    -if !@noticemon.nil?
      .alert.alert-block.alert-success.fade.in
        %a.close{"data-dismiss" => "notice", "href" => "#" }
        = raw @errormon
    -if !@outputmon.nil?
      %pre.prettyprint.lang-xml
      = raw @output


  %div.row-fluid
    %div.span4
      %div.endpoints
        %h2 Endpoint operations
        = render 'endpoints'
        %div.buttons
          %a.btn{"id" => "rankbutton"} Rank selected
          %a.btn{"id" => "registrationbutton"} Register
          %a.btn{"id" => "invokebutton"} Invoke
    %div.span8
      %h2 Operation details
      %div.endpointdetails
        = render 'endpointdetails'
      %div.qosParamsCheckBoxes
       

/ Modals
#rankingResultModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "Ranking results", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Ranking results
  .modal-body
    %p Ranked Endpoints
    %div.rankedendpoints
  .modal-footer


#rankingSetQoSParams.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "QoS Parameters", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    %p Select QoS Parameters
    %div.rankingrateparams
    %a.btn{"id" => "startranking"} Start Ranking!
  .modal-footer

#invocationModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "Invocation", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    %p Perform invocation   
    %div.rankinginvocation
    = render :template => "dashboards/invocation/index"
  .modal-footer


#registrationModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "Registration", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    %p Register new service   
    %div.rankinginvocation
    = render :template => "dashboards/registration/index"
  .modal-footer