= content_for :head_include do
  = stylesheet_link_tag  "monitorings", :media => "all"
  = stylesheet_link_tag  "dynatree/ui.dynatree", :media => "all"
  = stylesheet_link_tag "star-rating/jquery.rating.css", :media => "all"
  = javascript_include_tag "monitorings" 

%div.container-fluid
  %div.row-fluid
    %div.span4
      %div.endpoints
        %h2 Endpoints
        = render 'endpoints'
        %div.buttons
          %a.btn{"id" => "rankbutton"} Rank selected
          %a.btn{"id" => "regnew"} Register
          %a.btn{"class" => "zes"} Invoke
    %div.span8
      %h2 Endpoint details
      %div.endpointdetails
        = render 'endpointdetails'
      %div.qosParamsCheckBoxes
       

/ Modals
#rankingResultModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "Ranking results", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Ranking results
  .modal-body
    %p Ranked Endpoints
    %div.rankedendpoints
  .modal-footer


#rankingSetQoSParams.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "QoS Parameters", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    %p Select QoS Parameters
    %div.rankingrateparams
    %a.btn{"id" => "startranking"} Start Ranking!
  .modal-footer