= content_for :head_include do
  = stylesheet_link_tag  "services", :media => "all"
  = javascript_include_tag "services" 
  
%div.container
  %h2 Service
  
  %span12
    .accordion{"id" => "accordionSearchMechanism"}
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"class" => "btn-info", "data-toggle" => "collapse", "data-parent" => "#accordionSearchMechanism", "href" => "#collapse_service"}= @service.wsdl_url
          
      .accordion-body.collapse.in{"id" => "collapse_service"}
        .accordion-inner          
          - if !@wsdl_content.nil?            
            %pre.prettyprint.lang-xml
              = @wsdl_content