= content_for :head_include do
  = stylesheet_link_tag  "services", :media => "all"
  = javascript_include_tag "services" 
  
%div.container
  %h2 Registered services
  %table.table.table-striped
    - if @services.count > 0
      %thead
        %th
          Service URL
        %th
          Created
        %th
          Update
        %th
          Delete
      %tbody
        - @services.each do |service|
          %tr
            %td
              %p
                %a{"href" =>""}= service.wsdl_url
            %td
              %p= time_ago_in_words(service.created_at)            
            %td
              %a{"href" => "/services/#{service.id}?method=update"}
                %i.icon-repeat
            %td
              %a{"href" => "/services/#{service.id}?method=delete"}
                %i.icon-trash